extends layout

block content
    .container
        .row
            .col-6.offset-3
                if books.length
                    table.table.table-striped
                        thead.thead-dark
                            tr
                                th(scope='col') #
                                th(scope='col') Title
                                th(scope='col') Writer
                                th(scope='col') Description
                                th(scope='col') Count
                                th(scope='col') Rent
                        tbody
                            each book, i in books
                                tr
                                    th(scope='row') #{i+1}
                                    td #{book.title}
                                    td #{book.writer}
                                    td #{book.description}
                                    td #{book.count}
                                    td
                                        form(method="POST", action="/user/rent/" + book._id)
                                            input(type="hidden", name="_method", value="PUT")
                                            button.btn.btn-sm.btn-success.rounded-0(name="books") Rent
                else
                    .h2.text-center.text-danger Can't Find Any Book
